# Django Settings
SECRET_KEY=your-django-secret-key-here
DEBUG=True
EMAIL_PASSWORD=your-email-app-password

# Database Connection (Django)
DB_NAME=open_lms
DB_USER=postgres
DB_PASSWORD=your_db_password
DB_HOST=db
DB_PORT=5432

# PostgreSQL Container Settings
POSTGRES_DB=open_lms
POSTGRES_USER=postgres
POSTGRES_PASSWORD=your_db_password

# Celery & Redis
CELERY_BROKER_URL=redis://redis:6379/0
CELERY_RESULT_BACKEND=redis://redis:6379/0

# Stripe API Keys
STRIPE_API_KEY=sk_test_your_secret_stripe_key
